<div *ngIf="loading">
  <app-loadder></app-loadder>
</div>

<section class="h-100 mt-3 section mb-3" *ngIf="!loading">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body" style="background-color: white">

            <a routerLink="/home">
              <button type="button" class="btn btnVoltar text-center">
                <i class="fa fa-arrow-left float-left"></i> Voltar
              </button>
            </a><br><br>

            <div class="divImg mt-3">
              <img src="assets/logo.png" class="img" />
            </div>
            <h2 class="card-title text-center mt-3" id="titulo">
              Lista de Presentes
            </h2>
            <p class="card-title text-center mt-3" id="titulo">
              Confira os itens da nossa lista de presente, selecione e informe a quantidade para reservar.
            </p>
            <br />

            <div class="my-login-validation table-responsive" *ngIf="itens.length > 0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qtd Disponível</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of itens; let i = index">
                    <td>{{item.nome}}</td>
                    <td>{{item.qtdDisponivel}}</td>
                    <td>
                      <button type="button"  style="width: 100px;" class="btn btn-outline-primary btn-sm"
                        (click)="selecionarItem(item)"><b>Selecionar</b></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>

            <div class="form-group">
              <h5 class="card-title text-left">Item: {{item.nome}}</h5>
              <label>Quantidade</label>
              <input type="number" name="qtd" [(ngModel)]="qtdEscolhida" [disabled]="item.id == null"
                class="form-control text-center" required
                placeholder="Informe a quantidade" />
              <div *ngIf="errorsValidators">
                <div *ngFor="let erro of errorsValidators">
                  <p class="label-error" *ngIf="erro.controleErro === 'quantidade'">{{erro.mensagemErro}}</p>
                </div>
              </div>
            </div>

            <div class="form-group m-0">
              <button [disabled]="item.id == null" (click)="salvarItem()" type="button" class="btn btn-success btn-block">
                Reservar Presente <i class="fa fa-gift"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
